<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div
        class="company-detail postion-relative col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">IG Acedemy</div>
        <div class="line"></div>
        <% pages.forEach(page => { %> <% if (page.slug === 'about-us') { %>
        <p class="gray-text-dark"><%- truncateWords(page.content, 40) %></p>
        <% } %> <% }) %>
        <div class="social-media d-flex gap-3 align-items-center">
          <a href="#"
            ><i class="social-icon fa-brands fa-facebook footer-icon"></i
          ></a>
          <a href="#"
            ><i class="social-icon fa-brands fa-instagram footer-icon"></i
          ></a>
          <a href="#"
            ><i class="social-icon fa-brands fa-twitter footer-icon"></i
          ></a>
          <a href="#"
            ><i class="social-icon fa-brands fa-linkedin footer-icon"></i
          ></a>
        </div>
      </div>

      <div
        class="quick-links postion-relative col-12 col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">Menu</div>
        <div class="line"></div>
        <ul>
          <li class="selected"><a href="#">Home</a></li>
          <% let catCount = 0; %> <% const parentCategories =
          categories.filter(category => !category.parent); %> <%
          parentCategories.forEach(cat => { %> <% if (catCount < 3) { %>
          <li class="<%= showingpage === cat.slug ? 'selected' : '' %>">
            <a href="/category/<%= cat.slug %>">
              <%= cat.title %>
            </a>
            <% catCount++; %> <% } %> <% }); %>
          </li>

          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>

      <div
        class="quick-links postion-relative col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">quick-links</div>
        <div class="line"></div>
        <ul>
          <% let staticPageCount = 0; %>
          <% pages.forEach(page => { %> 
            <% if (staticPageCount < 5) { %>
              <li><a href="/page/<%= page.slug %>"><%= page.title %></a></li>
              <% staticPageCount++; %>
            <% } %>
          <% }) %>
        </ul>
      </div>

      <div
        class="contacts postion-relative col-12 col-lg-3 col-md-6"
        data-aos="fade-up"
      >
        <div class="footer-title">Have a question</div>
        <div class="line"></div>
        <div class="row pb-3 align-items-center">
          <i class="col-2 footer-icon-contact fa-solid fa-location-dot"></i
          ><span class="col-10 footer-contact address"
            >203 Fake St. Mountain View, San Francisco, California, USA</span
          >
        </div>
        <div class="row pb-3 align-items-center">
          <i class="col-2 footer-icon-contact fa-solid fa-phone"></i>
          <span class="col-10 footer-contact phone">+2 392 3929 210</span>
        </div>
        <div class="row pb-3 align-items-center">
          <i class="col-2 footer-icon-contact fa-solid fa-envelope"></i>
          <span class="col-10 footer-contact email"> info@yourdomain.com</span>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-section" data-aos="fade-up">
    <span class="copy"
      >Copyright © 2024 Goodwill Cleaning | All rights reserved</span
    >&nbsp; Site by: <a href="#">CyBurning</a>
  </div>
</footer>

 <!-- Student Form Modal -->
 <div
 class="modal fade"
 id="studentModal"
 tabindex="-1"
 aria-labelledby="studentModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog modal-lg modal-dialog-centered">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="studentModalLabel">Call for Tutor</h5>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body">
       <form id="studentForm">
         <div class="mb-3">
           <label for="studentName" class="form-label">Name</label>
           <input
             type="text"
             class="form-control"
             id="studentName"
             name="studentName"
             required
           />
         </div>
         <div class="mb-3">
           <label for="studentLevel" class="form-label">Level</label>
           <input
             type="text"
             class="form-control"
             id="studentLevel"
             name="studentLevel"
             required
           />
         </div>

         <div class="mb-3">
           <label for="studentSubject" class="form-label"
             >Subject for Tutor</label
           >
           <input
             type="text"
             class="form-control"
             id="studentSubject"
             name="studentSubject"
             required
           />
         </div>

         <div class="row">
           <div class="col-md-6 mb-3">
             <label for="studentDistrict" class="form-label"
               >District</label
             >
             <input
               type="text"
               class="form-control"
               id="studentDistrict"
               name="studentDistrict"
               required
             />
           </div>
           <div class="col-md-6 mb-3">
             <label for="studentLocation" class="form-label"
               >Location</label
             >
             <input
               type="text"
               class="form-control"
               id="studentLocation"
               name="studentLocation"
               required
             />
           </div>
         </div>

         <div class="row">
           <div class="col-md-6 mb-3">
             <label for="studentPhone" class="form-label"
               >Phone Number</label
             >
             <input
               type="tel"
               class="form-control"
               id="studentPhone"
               name="studentPhone"
               required
             />
           </div>
           <div class="col-md-6 mb-3">
             <label for="studentEmail" class="form-label">Email</label>
             <input
               type="email"
               class="form-control"
               id="studentEmail"
               name="studentEmail"
               required
             />
           </div>
         </div>
         <div class="mb-3">
           <label for="studentMessage" class="form-label">Message</label>
           <textarea
             class="form-control"
             id="studentMessage"
             name="studentMessage"
             rows="3"
           ></textarea>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
       </form>
     </div>
   </div>
 </div>
</div>
<!-- student form -->

<!-- teacher form -->
    <!-- Teacher Form Modal -->
    <div
      class="modal fade"
      id="teacherModal"
      tabindex="-1"
      aria-labelledby="teacherModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="teacherModalLabel">Apply for Tutor</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="teacherForm">
              <div class="mb-3">
                <label for="teacherName" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="teacherName"
                  name="teacherName"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="teacherLevel" class="form-label">Level</label>
                <input
                  type="text"
                  class="form-control"
                  id="teacherLevel"
                  name="teacherLevel"
                  required
                />
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="teacherDistrict" class="form-label"
                    >District</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="teacherDistrict"
                    name="teacherDistrict"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="teacherLocation" class="form-label"
                    >Location</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="teacherLocation"
                    name="teacherLocation"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="teacherPhone" class="form-label"
                    >Phone Number</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="teacherPhone"
                    name="teacherPhone"
                    required
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="teacherEmail" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="teacherEmail"
                    name="teacherEmail"
                    required
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="teacherCV" class="form-label">Upload CV</label>
                <input
                  type="file"
                  class="form-control"
                  id="teacherCV"
                  name="teacherCV"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="qualificationCert" class="form-label"
                  >Qualification Certificate</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="qualificationCert"
                  name="qualificationCert"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- teacher form -->

<%- include('./scripts') %>
