<div class="nav py-2 desktop-navigation">
  <div class="logo-container">
    <img src="/theme/IG_Academy/images/IdeaGen_Logo.png" alt="ig-acedemy-logo" />
  </div>
  <ul class="menu">
    <li>
      <a
        class="<%= showingpage == 'home' ? 'selected' : '' %>"
        href="/"
        >Home</a
      >
    </li>

    <% let catCount = 0; %> <% const parentCategories =
    categories.filter(category => !category.parent); %> <%
    parentCategories.forEach(cat => { %> <% if (catCount < 3) { %>
    <li class="<%= showingpage === cat.slug ? 'selected' : '' %>">
      <% const childCategories = categories.filter(category => category.parent
      && category.parent._id.toString() === cat._id.toString()); %>
      <a href="/category/<%= cat.slug %>">
        <%= cat.title %> <% if (childCategories.length > 0) { %>
        <i class="fa-solid fa-angle-down"></i>
        <% } %>
      </a>

      <% if (childCategories.length > 0) { %>
      <ul class="dropdown">
        <% childCategories.forEach(childCat => { %> <% const
        grandChildCategories = categories.filter(category => category.parent &&
        category.parent._id.toString() === childCat._id.toString()); %>
        <li>
          <a
            href="/category/<%= childCat.slug %>"
            class="d-flex justify-content-between w-100 px-2"
          >
            <%= childCat.title %> <% if (grandChildCategories.length > 0) { %>
            <i class="fa-solid fa-angle-right"></i>
            <% } %>
          </a>

          <% if (grandChildCategories.length > 0) { %>
          <ul class="dropdown-submenu">
            <% grandChildCategories.forEach(grandChildCat => { %>
            <li>
              <a href="/category/<%= grandChildCat.slug %>"
                ><%= grandChildCat.title %></a
              >
            </li>
            <% }); %>
          </ul>
          <% } %>
        </li>
        <% }); %>
      </ul>
      <% } %>
    </li>
    <% catCount++; %> <% } %> <% }); %>

    <li class="<%= showingpage == 'contact' ? 'selected' : '' %>">
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <div class="login-container">
    <div class="btn-container">
      <a
        href="javascript:void(0);"
        class="login-btn"
        data-bs-toggle="modal"
        data-bs-target="#studentModal"
        >Call for Tutor</a
      >
      <a
        href="#"
        class="login-btn"
        data-bs-toggle="modal"
        data-bs-target="#teacherModal"
        >Apply for Tutor</a
      >
    </div>
  </div>
</div>
