  <div class="nav mobile-navigation py-2 px-4">
    <div class="logo-container">
      <img src="/theme/IG_Academy/images/IdeaGen_Logo.png" alt="ig-acedemy-logo" />
    </div>
    <div class="menu-toggle" id="menuToggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <nav id="mobileMenu" class="mobile-menu">
      <div class="menu-header">
        <div class="logo-container">
          <img src="/theme/IG_Academy/images/IdeaGen_Logo.png" alt="ig-acedemy-logo" />
        </div>
        <div class="close-menu" id="closeMenu">&times;</div>
      </div>
      <div class="tab-buttons">
        <div class="tab-btn active" data-target="menu-content">Menu</div>
        <div class="tab-btn" data-target="info-content">Info</div>
      </div>
      <div class="tab-content">
        <!-- Menu Content -->
        <div id="menu-content" class="tab-panel active">
          <ul class="menu-items">
            <% let catCount = 0; %> <% const parentCategories =
          categories.filter(category => !category.parent); %> <%
          parentCategories.forEach(cat => { %> <% if (catCount < 4) { %>
          <li class="has-submenu">
            <% const childCategories = categories.filter(category =>
            category.parent && category.parent._id.toString() ===
            cat._id.toString()); %> <% if (childCategories.length > 0) { %>
            <a href="javascript:void(0)"><%= cat.title %> <span>+</span></a>
            <% }else{ %>
            <a href="/category/<%= cat.slug %>"><%= cat.title %></a>
            <% } %> <% if (childCategories.length > 0) { %>
            <ul class="submenu">
              <li class="has-submenu-child">
                <% childCategories.forEach(childCat => { %> <% const
                grandChildCategories = categories.filter(category =>
                category.parent && category.parent._id.toString() ===
                childCat._id.toString()); %> <% if (grandChildCategories.length
                > 0) { %>
                <a href="javascript:void(0)"><%= childCat.title %><span>+</span></a>
                <% }else { %>
                <a href="/category/<%= childCat.slug %>"><%= childCat.title %></a>
                <% } %> <% if (grandChildCategories.length > 0) { %>
                <ul class="submenu-child">
                  <% grandChildCategories.forEach(grandChildCat => { %>
                  <li>
                    <a href="/category/<%= grandChildCat.slug %>"
                      ><%= grandChildCat.title %></a
                    >
                  </li>
                  <% }); %>
                </ul>
                <% } %>
              </li>
              <% }); %>
            </ul>
            <% } %>
          </li>
          <% catCount++; %> <% } %> <% }); %>
            <!-- Other Menu Items -->
          </ul>
        </div>

        <!-- Info Content (this can be any static content you want to display) -->
        <div id="info-content" class="tab-panel">
          <div class="row pb-3 align-items-center">
            <i class="col-2 footer-icon-contact fa-solid fa-location-dot"></i
            ><span class="col-10 footer-contact address"
              >Putalisadak-28, Kathmandu, Nepal</span
            >
          </div>
          <div class="row pb-3 align-items-center">
            <i class="col-2 footer-icon-contact fa-solid fa-phone"></i>
            <span class="col-10 footer-contact phone">01-4168335/ 9802369130/ 9851140591</span>
          </div>
          <div class="row pb-3 align-items-center">
            <i class="col-2 footer-icon-contact fa-solid fa-envelope"></i>
            <span class="col-10 footer-contact email">
              admin@ideagen.com.np/ 
              </span
            >
          </div>
          <div class="social-media d-flex gap-3 align-items-center">
            <a href="#"
              ><i class="social-icon fa-brands fa-facebook footer-icon"></i
            ></a>
            <a href="#"
              ><i class="social-icon fa-brands fa-instagram footer-icon"></i
            ></a>
            <a href="#"
              ><i class="social-icon fa-brands fa-twitter footer-icon"></i
            ></a>
            <a href="#"
              ><i class="social-icon fa-brands fa-linkedin footer-icon"></i
            ></a>
          </div>
          <div class="btn-container">
            <div class="login-btn"><a
              href="javascript:void(0);"
              class="login-btn"
              data-bs-toggle="modal"
              data-bs-target="#studentModal"
              >Call for Tutor</a
            >
           </div>
            <div class="login-btn"> <a
              href="#"
              class="login-btn"
              data-bs-toggle="modal"
              data-bs-target="#teacherModal"
              >Apply for Tutor</a
            ></div>
          </div>
        </div>
      </div>
    </nav>
  </div>