<%- include('../partials/header/meta_tags') %>
<title>Ig Academy/title>


  <!-- Include stylesheets and links -->
  <%- include('../partials/header/links') %>


  <!-- Desktop Navigation -->
  <%- include('../partials/header/desktop_navigation') %>

  <!-- Mobile Navigation -->
  <%- include('../partials/header/mobile_navigation') %>
  <section class="listing">
    <div class="container">
      <div class="row detail-container">
        <div class="col-12 col-md-6 col-lg-7 detail-right">
          <h1 class="subtitle">
            Need Two Nepali Medium Tutor For Standard 9 Student - 3 Days /
            Week
          </h1>
          <div class="date-line pb-3">24 April 2024</div>
          <div class="img-containers mb-3">
            <img src="/public/images/blog-1.webp">
          </div>
          <div class="post-container">
            <div class="subtitle pb-3">About Student</div>
            <div class="info">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Officia numquam accusamus vel exercitationem eligendi. Culpa
              nostrum laborum debitis voluptatibus eos optio libero quaerat
              dolore facilis, quod dolores quasi voluptates minima? Culpa
              consectetur distinctio ut, rem necessitatibus itaque minus
              laboriosam sit quisquam officiis ab, dolore perferendis
              inventore? Quaerat placeat reprehenderit est libero, impedit
              ducimus nostrum doloribus a aspernatur sequi. Maxime, magnam?
              Nihil architecto illo doloremque labore, vel suscipit? In,
              nesciunt esse. Quam porro cupiditate sint reiciendis quos
              ducimus quod vero. Error non a consectetur repudiandae amet.
              Libero reprehenderit tenetur ipsa dolor! Ipsa id magni nobis
              consectetur nesciunt possimus maxime pariatur debitis, nisi ad
              architecto quisquam consequuntur placeat voluptatum
              reprehenderit hic itaque dolore sint laborum dolor neque sit
              repudiandae. Saepe, quisquam natus? Praesentium voluptas error
              blanditiis placeat corrupti quaerat. Officiis amet velit,
              architecto voluptates perspiciatis cumque quos ullam sapiente
              itaque dolore illum soluta error ea explicabo cum veritatis eos
              unde. Ratione, vero.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 detail-left">

          <div class="more-cointainer">
            <div class="subtitle mb-2">More Blog</div>

            <div class="col-12">
              <div class="blog-list-card" data-aos="fade-up">
                <a href="#" class="img-container">
                  <img src="/public/images/blog-list-1.webp" alt="">
                </a>
                <a href="#" class="list-contains">
                  <div class="date-line"><i class="fa-regular fa-clock"></i> 24 April 2024</div>
                  <div class="title">Stories of Growth and Achievement at IG Academy</div>
                  <div class="summary">Maurus sit abet lacinia est, vitae critique menus tempos nigh vitae pulvinar uptraces.</div>
                  <div class="view-more"><a href="#">Read More <i class="fa-solid fa-arrow-right"></i></a></div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Include Footer -->
  <%- include('../partials/footer/footer') %>

  <!-- Include Scripts -->
  <%- include('../partials/footer/scripts') %>
  </body>

  </html>